/*
  Rui Santos
  Complete project details at https://RandomNerdTutorials.com/esp32-mpu-6050-web-server/

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files.
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-black: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
}
canvas {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-dark-black);
}

ul {
  /* list-style: none; */
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-micro);
  font-weight: var(--weight-);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-blue);
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
}
.favicon {
  width: 30px;
  height: 30px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-dark-black);
  cursor: pointer;
  /* border: 1px solid transparent; */
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  border: 1px solid white;
  /* border-radius: var(--size-border-radius); */
  background-color: var(--color-blue);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 20px;
  padding-top: 120px;
  text-align: center;
}

.home__avartar {
  width: 300px;
  height: 270px;
  border-radius: 20%;
  border: 2px solid var(--color-light-white);
}
.Yeonu__avartar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.Yeonu__avartar:hover {
  background-color: var(--color-blue);
  color: var(--color-dark-white);
}
.Yeonjun__avartar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.Yeonjun__avartar:hover {
  background-color: var(--color-blue);
  color: var(--color-dark-white);
}
.taeyun__avartar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.taeyun__avartar:hover {
  background-color: var(--color-blue);
  color: var(--color-dark-white);
}

.home__title,
.home__description {
  color: var(--color-blue);
}

.home__contact {
  color: var(--color-blue);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-blue);
  color: var(--color-dark-white);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid var(--color-blue);
  margin-bottom: 16px;
}

.major__icon {
  transition: var(--animation-duration) ease;
}

.major__icon:hover {
  color: var(--color-pink);
  transform: rotate(-10deg) scale(1.2);
  cursor: pointer;
}

.major__title {
  color: var(--color-grey);
}
.major__description {
  color: var(--color-grey);
  text-align: left;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-dark-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  /* display: inline-flex;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.6;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-pink);
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-dark-white);
  background-color: var(--color-dark-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }
  .category__btn {
    padding: 4px 0;
    width: 100%;
  }
  .project {
    flex-grow: 1;
  }
}
.arrow-up {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  right: 16px;
  bottom: 16px;
}

/* html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}
p {
  font-size: 1.2rem;
}
body {
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #003366;
  color: #ffd43b;
  font-size: 1rem;
}
.network-time {
  overflow: hidden;
  background-color: #003366;
  color: #f7e193;
  font-size: 1rem;
}
.content {
  padding: 20px;
}
.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}
.card-title {
  color: #003366;
  font-weight: bold;
}
.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.reading {
  font-size: 1.2rem;
}
.cube-content {
  width: 100%;
  background-color: white;
  height: 300px;
  margin: auto;
  padding-top: 2%;
}
#reset {
  border: none;
  color: #fefcfb;
  background-color: #003366;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 150px;
  border-radius: 4px;
}
#resetX,
#resetY,
#resetZ {
  border: none;
  color: #fefcfb;
  background-color: #003366;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 20px;
  border-radius: 4px;
} */
